parameters:
	level: 6
	paths:
		- packages/core/src
		- packages/core/test
	tipsOfTheDay: false
	ignoreErrors:
		- path: packages/*/test/Unit/*
		  message: '#Method [a-zA-Z0-9\\_]+Test::[a-zA-Z0-9\\_]+\(\).+#'
		  # ignore missing value type on iterable type of methods and arguments
		  identifier: missingType.iterableValue
#		- path: packages/*/test/Unit/*
#		  message: '#Method [a-zA-Z0-9\\_]+Test::[a-zA-Z0-9\\_]+\(\).+#'
#		  # ignore missing value type on generics type of methods and arguments
#		  identifier: missingType.generics
